
.icon-list-element:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-analyse:before { content: '\e802'; } /* '' */
.icon-device:before { content: '\e803'; } /* '' */
.icon-write:before { content: '\e804'; } /* '' */
.icon-scale-up:before { content: '\e806'; } /* '' */
.icon-design:before { content: '\e807'; } /* '' */
.icon-package-heart:before { content: '\e808'; } /* '' */
.icon-monitor-engage:before { content: '\e809'; } /* '' */
.icon-content-heart:before { content: '\e80a'; } /* '' */
.icon-theme-manager:before { content: '\e80b'; } /* '' */
.icon-social-plus:before { content: '\e80c'; } /* '' */
.icon-social-heart:before { content: '\e80d'; } /* '' */
.icon-password-protection:before { content: '\e80e'; } /* '' */
.icon-interactions:before { content: '\e80f'; } /* '' */
.icon-refresh:before { content: '\e813'; } /* '' */
.icon-up:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e817'; } /* '' */
.icon-right:before { content: '\e818'; } /* '' */
.icon-industry:before { content: '\e81a'; } /* '' */
.icon-down:before { content: '\e81b'; } /* '' */
.icon-size:before { content: '\e81c'; } /* '' */
.icon-company:before { content: '\e81d'; } /* '' */
.icon-marker:before { content: '\e823'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-play:before { content: '\e826'; } /* '' */
.icon-comments:before { content: '\e827'; } /* '' */
.icon-twitter:before { content: '\e828'; } /* '' */
.icon-linkedin:before { content: '\e829'; } /* '' */
.icon-instagram:before { content: '\e82a'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-email:before { content: '\e82c'; } /* '' */
.icon-dot:before { content: '\e82e'; } /* '' */
.icon-engaging:before { content: '\e82f'; } /* '' */
.icon-idea:before { content: '\e830'; } /* '' */
.icon-search:before { content: '\e831'; } /* '' */
.icon-active-dot:before { content: '\e832'; } /* '' */
.icon-instagram-l:before { content: '\e833'; } /* '' */
.icon-linkedin-l:before { content: '\e834'; } /* '' */
.icon-twitter-l:before { content: '\e835'; } /* '' */
.icon-facebook-l:before { content: '\e836'; } /* '' */